*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    direction: rtl;

    display: grid;
    place-items: center;
}

.container {
    display: flex;
    flex-direction: column;

    max-width: max-content;
    padding: 20px;
    background-color: gray;
}

.head {
    display: flex;
}
